#!/usr/bin/make -f

%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- -DLINUX=1

override_dh_auto_install:
	dh_auto_install

override_dh_installdocs:
	dh_installdocs

override_dh_strip:
	dh_strip --exclude=node_modules

.PHONY: override_dh_auto_configure override_dh_auto_install override_dh_installdocs override_dh_strip